*{
    margin: 5px;
    box-sizing: border-box;
}

.main-body {
    height: 95vh;
    font-family: sans-serif;
    text-align: center;
    color: Black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2em 0 2em 0;
    position: fixed;
    top: -6px;
    width: 100%;
    z-index: 1000;
    background: white;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin-top: 5em;
}

.left {
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main {
    padding: 1em 0 2em 0;
    display: flex;
    justify-content: center;
}

.right {
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

.painting-show-contain {
    display: flex;
}

.painting-details-contain {
    text-align: left;
}

@media all and (max-width: 1000px) {
    .main .painting-show-contain {
        flex-direction: column;
        align-items: center;
    }
    main {
        padding: 2em 0 5em 0;
    }
    .left, .right {
        padding: 0;
        margin: 0;
        flex: 0;
        height: 0;
    }
    .painting-details-contain {
        text-align: center;
    }
}

/* NavBar */

ul {
    list-style-type: none;
    padding-left: 0em !important;
}

li {
    list-style-type: none;
}

.nav-options-ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.nav-option-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.nav-option-link:hover {
    color: inherit;
}

/* Modal */

.alert-ok {
    color: green;
}

.alert-error {
    color: red;
}

.primary-button {
    background: #5b5b5b !important;
    color: white !important;
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.secondary-button {
    background: transparent !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 0 !important;
}


/* Dropzone */

.drop-zone-contain {
    display: flex;
}

.dropzone-upload-container {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropzone-prompt {
    font-size: 18px;
    color: darkgray;
}

.img-wrap {
    position: relative;
}

.img-wrap .close {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 100;
    cursor: pointer;
}

.img {
    display: block;
    width: auto;
    height: 100%
}

.alt-image-thumb-inner {
    display: flex;
    min-width: 0;
    overflow: hidden
}

.alt-image-thumb {
    display: inline-flex;
    border-radius: 2;
    margin-bottom: 8;
    margin-right: 8;
    width: 100px;
    height: 100px;
    padding: 4;
    box-sizing: border-box;
    cursor: pointer
}

.main-inner {
    display: flex;
    min-width: 0;
    overflow: hidden
}

.main-image {
    display: flex;
    border-radius: 2;
    /* border: 1px solid #eaeaea; */
    height: 400px;
    min-width: 340px;
    max-width: 340px;
    width: 340px;
    overflow: hidden;
    padding: 4;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.alt-image-thumb-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16;
    justify-content: center;
    width: 400px;
    margin: auto;
}

/* Details for Painting */

.details-contain {
    display: flex;
    flex-direction: column;
}

textarea:focus,
input:focus {
    outline: none;
}

label {
    font-family: system-ui;
    font-size: initial;
    font-weight: 600;
    margin-top: 30px;
}

input::placeholder,
textarea::placeholder {
    font-family: system-ui;
    font-size: initial;
    font-weight: 300;
    text-align: center;
}

input, textarea {
    font-family: system-ui !important;
    font-size: 17px !important;
    text-align: center;
    border: 1px solid #ffffff;
}

.title {
    font-size: 40px !important;
    color: #676767;
}
.story {
    font-size: 14px !important;
    font-weight: 300;
    height: 100px;
}

.dimensions, 
.price, 
.medium {
    line-height: normal !important;
}

.dimensions, 
.medium {
    color: #8b8b8b;
    font-size: 12px !important;
}

.price {
    font-size: 22px !important;
    color: #424242;
}

/* Gallery */

.paintings-contain {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

.li-painting-contain {
    cursor: pointer;
    display: inline-block;
    list-style: none;
}

.painting-contain-title {
    max-width: 275px;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.painting-title {
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

.painting-dimentions {
    font-size: 16px;
    color: #757575;
}

.painting-price {
    letter-spacing: .6rem;
}

.painting-medium {
    color: #757575;
    font-size: 16px;
}

.painting-story {
    font-size: 14px;
    max-width: 450px;
}