*{
    margin: 5px;
    box-sizing: border-box;
}

.main-body {
    height: 95vh;
    font-family: sans-serif;
    text-align: center;
    color: Black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2em 0 2em 0;
}

.main {
    display: flex;
    flex: 1;
    height: 100%;
}

.left {
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main {
    padding: 1em 0 3em 0;
    flex: 5 5 150px;
}

.right {
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

@media all and (max-width: 1000px) {
    .main {
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
    .left, .right {
        padding: 0;
        margin: 0;
        flex: 0;
        height: 0;
    }
}

/* NavBar */

ul {
    list-style-type: none;
}

.nav-options-ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.nav-option-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.nav-option-link:hover {
    color: inherit;
}

/* Modal */

.alert-ok {
    color: green;
}

.alert-error {
    color: red;
}

.primary-button {
    background: #5b5b5b !important;
    color: white !important;
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.secondary-button {
    background: transparent !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 0 !important;
}


/* Dropzone */

.dropzone-upload-container {
    height: 150px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropzone-prompt {
    font-size: 18px;
    color: darkgray;
}

.img-wrap {
    position: relative;
}

.img-wrap .close {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 100;
}